.page-admin-technology-importer #edit-submit--2{
	display: none;
}

.ti_results_table {

}

.ti_results_table tbody tr {
	border-bottom:1px solid #ddd;

}

.ti_results_table tbody tr td {

}

table.ti_results_table {
    border-top: 1px solid #bebfb9;
    border-right: 1px solid #bebfb9;
    border-bottom: 1px solid #bebfb9;
    border-left: none;
}

.ti_results_table .color {
	display: none;
}

.ti_results_table tr.green {
	background: #dfd;
}

.ti_results_table tr.yellow {
	background: #ffd;
}

.ti_results_table tr.red {
	background: #fcc;
}

.node--technology .node__submitted {
	display: none;
}